

<div class="row">
    <h1>Educacion</h1>
  <div class="col lg-2">
    <button type="button" class="btn btn-outline-dark" routerLink="/nuevaedu" *ngIf="isLogged">
      Agregar Educacion
    </button>
  </div>

    <div class="col lg 1"> </div>
   <div class="col-lg-11">
     <table class="table">
         <tr *ngFor="let Educacion of educacion">
             <td>{{Educacion.nombreE}}}</td>
             <td>{{Educacion.descripcionE}}</td>
             <td *ngIf="isLogged">
                <button class="btn btn-secondary" routerLink="/editedu/{Educacion.id}}"> <i class="bi bi-pencil-fill"></i>EDITAR</button>
            </td>
                <td *ngIf="isLogged">
                <button class="btn btn-secondary" (click)="delete(Educacion.id)"> <i class="bi bi-trash3"></i> BORRAR</button>
            </td>
          </tr>
     </table>
   </div>
   <div>
    <p><b>Estudios Secundario Completo - (2010)</b></p>
    <p>Instituto Popular de Mercedes "Manuel López Rodriguez" - (Titulo - Aux. de Enfermería)</p>
   <p><b>Estudio Terciario - (2012)</b></p>
   <p>Peluqueria y Estetica-"Damas Patricias</p>
   <p><b>Profesorado de Pintura - (2022-2023) </b> </p>
   <p>Cursando el primer año en Eskaparte-Mercedes</p>
   
   </div>
   <div>
   <div>
    <button type="button" class="btn btn-secondary btn-lg" disabled routerLink="">
       Editar educacion
    </button>
  </div>
  <div>
    <button type="button" class="btn btn-secondary btn-lg" disabled routerLink="">
       Borrar educacion
    </button>
  </div>
   
</div>


